
.product-item{
    min-width: 500px;
    max-width: 500px;
    border-style: dotted;
    margin: 1rem 4.5rem;
    float: left;
}
.product__title, 
.product__price,
.product__description,
.card__actions{
    text-align: center;
    margin: 1rem;;
}

.card__actions button   {
    font-size: 16px;
    background-color: #fff;
    border-radius: 7px;
}
.card__image > img{
    width: 100%;
}