<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thank you</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header-navbar">
            <ul class="main-header-navbar-list">
                <li class="main-header-navbar-list-item"> <a class="active" href="/">Home</a></li>
                <li class="main-header-navbar-list-item"> <a href="/">Also Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-content">
        <p>Hey there! Thanks for submitting the form :)</p>

    </div>
</body>

</html>